.newUserFormContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.newUserFormContainer * input, .personalUserAddressUserForm > input {
    border:none;
    outline: none;
    color:black;
    font-size: 20px;
    padding:20px;
    margin:10px 10px 0px 10px;
    transition: background,.4s;
}

.newUserFormContainer * input:not(.true), .personalUserAddressUserForm > input:not(.true) {
    background:#32a875ad;
}

.newUserFormContainer * input:focus, .personalUserAddressUserForm > input:focus, .true {
    background:#32a875;
} 

.personalUserCompanyUserForm,
.personalUserAddressUserForm {
    display: flex;
    flex-direction: column;
}

.personalUserCompanyUserForm > input, .personalUserAddressUserForm > input {
    width: 250px;
}

.newUserFormContainer * input::placeholder {
    color:rgba(0, 0, 0, 0.562)
}